<html>
  <form @submit.prevent="handleSubmit" class="space-y-4">
    <div v-if="hasName" class="flex flex-col">
      <label for="name" class="mb-2">Name</label>
      <input
        v-model="userInfo.name"
        id="name"
        type="text"
        class="border p-2"
        :class="{ 'border-red-500': errors.name }"
        @blur="validateField('name')"
      />
      <span v-if="errors.name" class="text-red-500 text-sm"
        >{{ errors.name }}</span
      >
    </div>
    <div class="flex flex-col">
      <label for="email" class="mb-2">Email</label>
      <input
        v-model="userInfo.email"
        id="email"
        type="email"
        class="border p-2"
        :class="{ 'border-red-500': errors.email }"
        @blur="validateField('email')"
      />
      <span v-if="errors.email" class="text-red-500 text-sm"
        >{{ errors.email }}</span
      >
    </div>
    <UserAuthPassword
      v-model="userInfo.password"
      label="Password"
      :error="errors.password"
      @blur="validateField('password')"
    />
    <div v-if="registrationCheckboxes" class="flex flex-col">
      <label>
        <input v-model="userInfo.agreeToTerms" type="checkbox" class="mr-2" />
        I have read and agree to the
        <a
          href="/policies/terms-and-conditions"
          target="_blank"
          class="text-blue-500"
          >Terms and Conditions</a
        >
        and
        <a href="/policies/privacy-policy" target="_blank" class="text-blue-500"
          >Privacy Policy</a
        >
      </label>
      <span v-if="errors.agreeToTerms" class="text-red-500 text-sm"
        >{{ errors.agreeToTerms }}</span
      >
      <label class="flex items-center mt-2">
        <input v-model="userInfo.email_weekly" type="checkbox" class="mr-2" />
        I would like to join the VIP list and get a weekly newsletter.
      </label>
      <label class="flex items-center mt-2">
        <input v-model="userInfo.email_daily" type="checkbox" class="mr-2" />
        I would like to get an email notification whenever new videos or courses
        are released.
      </label>
    </div>
    <button
      type="submit"
      class="bg-green-500 text-white py-2 px-4 rounded"
      :disabled="!isValid"
    >
      {{ buttonText }}
    </button>
  </form>
</html>
